[include]
    # Put user.name and user.email in this local file
    path = ~/.gitconfig-local
[color]
	ui = auto
	status = auto
	branch = auto
[alias]
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative --graph --all
	lgg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative
	st = status
	co = checkout
	ci = commit
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	le = log --oneline --decorate
	pr = pull --rebase
	wdiff = diff --word-diff
[core]
	excludesfile = /home/fboulay/.gitignore_global
	autocrlf = false
	safecrlf = true
	editor = vim
[push]
	default = upstream
[merge]
	tool = /usr/bin/meld
[gui]
	warndetachedcommit = true
[help]
	autocorrect = 5
[diff]
    mnemonicprefix = true
    wordRegex = .
[rebase]
    autostash = true
[log]
	abbrevCommit = true
