[include]
  # Put user.name and user.email in this local file
  path = ~/.gitconfig-local
[color]
  ui = auto
  status = auto
  branch = auto
[alias]
  co = checkout
  ci = commit
  br = branch
  st = status
  modified = status -uno
  adm = add -u
  lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative --graph --all
  lgg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  le = log --oneline --decorate
  type = cat-file -t
  dump = cat-file -p
  pr = pull --rebase
  wdiff = diff --word-diff
  fp = "!git fetch -p --all && git branch -vv|grep ': gone]'|awk '{print $1}'|xargs git branch -D"
  current-tag= describe --abbrev=0 --tags
  previous-tag= "!sh -c 'git describe --abbrev=0 --tags $(git current-tag)^'"
  changelog = "!sh -c 'git --no-pager lg --first-parent $(git previous-tag)..$(git current-tag)'"
  standup = log --since yesterday --oneline --author 'Florian Boulay'
  undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
  please = "push --force-with-lease"
  commend = "commit --amend --no-edit"
  it = "!git init && git commit -m “first commit” --allow-empty"
  stsh = "stash --keep-index"
  staash = "stash --include-untracked"
  staaash = "stash --all"
  mail = "!f() { if [ -z \"${1}\" ]; then echo 'no mail set'; exit 1; fi; git config user.email \"${1}\"; }; f"
[core]
  excludesfile = /home/fboulay/.gitignore_global
  autocrlf = false
  safecrlf = true
  editor = vim
[push]
  default = upstream
[merge]
  tool = /usr/bin/meld
[gui]
  warndetachedcommit = true
[help]
  autocorrect = 5
[diff]
  mnemonicprefix = true
  wordRegex = .
  compactionHeuristic = true
	colorMoved = zebra
[rebase]
  autostash = true
[log]
  abbrevCommit = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
