"*":
  "asciidoc-preview":
    scrollMode: false
  "atom-ctags":
    autoBuildTagsWhenActive: true
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "symbols-view"
    ]
    projectHome: "/home/fboulay/workspace"
    telemetryConsent: "no"
  editor:
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "291f26c0-e68f-41d9-a948-d9ba1a819048"
  "fuzzy-finder":
    preserveLastSearch: true
  "go-plus":
    format: {}
  "tree-view":
    autoReveal: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
