"*":
  "asciidoc-preview": {}
  "atom-ctags":
    autoBuildTagsWhenActive: true
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "symbols-view"
    ]
    projectHome: "/home/fboulay/workspace"
  editor:
    showIndentGuide: true
    softWrap: true
  "fuzzy-finder":
    preserveLastSearch: true
  "tree-view":
    autoReveal: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
